.Main {
    width: 1200px;
    height: auto;
    border: 3px solid rgb(160, 5, 5);
    padding: 20px;
    margin: auto
}

.Titre {
    font-size: 3.5em;
    font-family: 'EB Garamond', serif;

}

.Section {
    background-color: rgb(160, 5, 5);
    color: white;
    border-radius: 8px;
    font-size: 1.5em;
    padding-left: 10px;
    padding: 10px;
}

.Espace20px {
    height: 20px;
}

.Espace10px {
    height: 10px;
}

.TableBoxBig {
    border: 3px solid rgb(160, 5, 5);
    width: 600px;
    margin: auto;
    padding: 5px;
}

.TableBox1 {
    border: 4px solid rgb(160, 5, 5);
    width: 250px;
}

.TableBox {
    border: 4px solid rgb(160, 5, 5);
    width: 300px;
}



.table {
    border-collapse: collapse;
    width: 100%;
}

.td {
    font-size: 1.3em;
    border: 1px solid gray;
    text-align: left;
    padding-left: 5px;
}

.tdNb {
    font-size: 1.3em;
    border: 1px solid gray;
    text-align: center;
}

.th {
    border: 1px solid gray;
    text-align: center;
    font-size: 1.35em;
}

.gridBoxBig {
    border: 2.5px solid gray;
    width: 950px;
    margin: auto;
}

.boxTop3 {
    border: 4px solid gray;
    width: 900px;
    margin: auto;
    font-size: 1.9em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: 600px 150px 150px;
    color: white;
    text-align: left;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
}

.gridRed {
    background-color: rgb(160, 5, 5);
    padding: 11px;
    padding-left: 7px;
}

.gridRedAlignRight {
    background-color: rgb(160, 5, 5);
    padding: 11px;
    padding-left: 7px;
    text-align: right;
}

.gridGray {
    background-color: gray;
    padding-top: 10px;
    padding-left: 7px;
}

.gridGrayCarol {
    background-color: gray;
    padding-top: 10px;
    padding-left: 7px;
    height: 40px;
}

.gridPhoto {
    padding-left: 15px;
    height: 45px;
}

.gridPhotoUSA {
    padding-left: 15px;
    height: 45px;
    max-width: 79px;
}

.gridPhotoFrance {
    padding-left: 15px;
    max-width: 80px;
}

.rang {
    color: black;
    text-align: center;
    padding-top: 10px;
}

.greyBar{
    background-color: gray;
    width: 2px;
    height: 219.7px;
    position: relative;
    top:-763px;
    left: 570px;
}